#container {
    display: flex;
    flex-wrap: wrap;
    width: 260px;
    gap: 4px;
}

#container>button {
    flex: 1;
    height: 55px;
    min-width: 50px;

}

.display {
    box-sizing: border-box;
    border: 10px solid gray;
    width: 260px;

}

p {
    font-size: 20px;
    margin: 4px;
    text-align: end;

}